#GameContainer {
  margin: 100px auto 0 auto;
  padding: 20px;
  max-width: 80%;
}

#GameTextBox {
  background-color: rgba(0,0,0,0.05);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

#TypeBox {
  margin: auto;
}

#Typed {
  color: green;
}

#Incorrect {
  color: red;
}

#Untyped {
  color: black; 
}